<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="products.css">
</head>
<body>

<div class="page">

  <h2>Product Categories</h2>

  <div class="category-grid">

    <div class="category-card">
      <img src="grocery.jpg">
      <h3>Grocery</h3>
      <a href="grocery.html">
        <button class="btn">View Items</button>
      </a>
    </div>

    <div class="category-card">
      <img src="beverages.png">
      <h3>Beverages</h3>
      <a href="beverages.html">
        <button class="btn">View Items</button>
      </a>
    </div>

    <div class="category-card">
      <img src="dairy.png">
      <h3>Dairy</h3>
      <a href="dairy.html">
        <button class="btn">View Items</button>
      </a>
    </div>

    <div class="category-card">
      <img src="vegetables.png">
      <h3>Vegetables</h3>
      <a href="vegetables.html">
        <button class="btn">View Items</button>
      </a>
    </div>

    <div class="category-card">
      <img src="snacks.png">
      <h3>Snacks</h3>
      <a href="snacks.html">
        <button class="btn">View Items</button>
      </a>
    </div>

    <div class="category-card">
      <img src="cleaning.png">
      <h3>Cleaning</h3>
      <a href="cleaning.html">
        <button class="btn">View Items</button>
      </a>
    </div>

  </div>

</div>

</body>
</html>