<!DOCTYPE html>
<html>
<head>
    <title>Shopkeeper Login</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="page-container">
    <div class="card">

        <div class="card-header">
            <img src="logo.png" class="logo" alt="Logo">
            <h1 class="brand-name">GROCIFY</h1>
        </div>

        <div class="card-body">

            <div class="left-section">
                <h3>Shopkeeper's Portal</h3>

                <label>Email Address</label>
                <input type="email" placeholder="Enter Email">

                <label>Password</label>
                <input type="password" placeholder="Enter Password">

                <button class="login-btn">Log In</button>

                <p class="register-text">
                    Don’t have an account?
                    <a href="register.html">Register</a>
                </p>

                <p class="register-text">
                    Login as Wholesaler?
                    <a href="wholesaler-login.html">Click Here</a>
                </p>
            </div>

            <div class="right-section">
                <img src="login image.png" class="login-img">
            </div>

        </div>
    </div>
</div>

</body>
</html>
